#

Module 6 graded assignment

Instroduction

Data science languages:
* python
* R
* Scala
* c++
* julia

Data science libraries:
* pandas
* numpy
* matplotlib
* seaboard
* SciPY
* Scikit-learn
* TensorFlow
* PyTorch

Data science tools:
| Name |
| ----- |
| Apache Spark|
|Tableu|
| SQL|
| Apache Hadoop|
|

Arithmetic expression example:

Addition : 2 + 3
Multiplication: 2 * 3

In [8]:
2 + 3

5

In [7]:
2 * 3

6

In [12]:
# convert mins -> hours
120 / 60

2.0

Objectives:
* learn basics of data science
* learn python
* learn some basic tools for data analysis

Author: Roman Shestakov